<%- include("header") %>

  <main class="px-3">
    <h1>Ready to report this nuisance 1 pothole at a time?</h1>
    <p class="lead">We need your location to find the details of your local authorities to contact. Please click allow in the next step.</p>
    <p class="lead">
    
      <form method="POST" action="/">
        <button id="sub" type="submit" class="btn btn-lg btn-light fw-bold">Allow Access</button>
      </form>
    </p>
  </main>

  <footer class="mt-auto text-white-50">
    <p>Made with ♥ by <a href="https://github.com/KR2206" class="text-white" target="_blank">KR2206</a>.</p>
  </footer>
</div>

    <script>
    getLocation();    
    function getLocation() {
        if (navigator.geolocation) {            
            document.getElementById("sub").innerText="Let's Begin!!!";
        document.getElementById("sub").disabled=false;            
        }
        else{
          document.getElementById("sub").innerText="No Location Support";
        document.getElementById("sub").disabled=false;
        }
    }

    </script>

    
<%- include("footer") %>