<%- include("header") %>
<p>Amongus</p>

<a href="https://twitter.com/intent/tweet?text=A%20pothole%20has%20been%20discovered%20in%20the%20given%20location.%20Requesting%20the%20concerned%20authorities%20to%20kindly%20do%20the%20needful%20to%20fill%20it%20ASAP.%20<%handles.forEach((handle)=>{%>%40<%=handle%>%20<%})%><%=link%>
" target="_blank">Tweet</a>

<%- include("footer") %>